---
---

#header {
  display: none;
}

#title {
  display: none;
}

p a img {
  width: 75px; 
  height: 75px; 
  margin-left: 10px;
  margin-top:-10px;
}

h1:first-of-type {
  display: none;
}

h1 {
  color: #ffffff;
  font-size: 50px;
  font-family: 'Roboto-Medium';
}

h2 {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto-Medium';
}

li {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

p {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

body {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

th {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

td {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

img {
  width: 100%;
}